.thirdBlock {
    position: relative;
    // margin-bottom: 7.81vw;
    margin-top: 3vw;
    padding-left: 2.16vw;
    // height: 15.4vw;
    @media(max-width: $width_adaptive) {
        height: auto;
        padding-right: 4.16vw;
        padding-left: 4.16vw;
    }
    .thirdblock_head {
        // width: 35%;
        // margin: 0;
        margin-bottom: 45/1920*100vw;
        background: linear-gradient(180deg, #FFFFFF 0%, rgba(16, 12, 12, 0) 184.66%);
        -webkit-background-clip: text;
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        font-size: 4.16vw;
        line-height: 5.62vw;
        font-weight: 800;
        color: #fff;
        -webkit-text-fill-color: transparent;
        @media(max-width: $width_adaptive) {
            margin-bottom: 2vw;
            font-size: 36/375*100vw;
            line-height: 38/36*100%;
        }
    }
    .thirdBlock_inner {
        display: flex;
        flex-wrap: wrap;
        @media(max-width: $width_adaptive) {
            flex-direction: column;
        }
        .halfCircle {
            position: absolute;
            right: 0;
            height: 200%;
            z-index: -1;
            @media(max-width: $width_adaptive) {
                display: none;
            }
        }
        .thirdBlockBg {
            position: absolute;
            top: 7.81vw;
            width: 71.45vw;
            @media(max-width: $width_adaptive) {
                display: none;
            }
        }
        .rekt1,
        .rekt2,
        .rekt3,
        .rekt4 {
            margin-right: -15vw;
            height: 593/1920*100vw;
            // display: none;
            width: 680/1920*100vw;
            @media(max-width: $width_adaptive) {
                display: block;
                margin-top: 10px;
                height: 366/375*100vw;
                width: 344/375*100vw;
                width: 100%;
            }
        }
        .wordsWrap {
            position: absolute;
            bottom: 0;
            left: 10vw;
            display: flex;
            height: 14.5vw;
            @media(max-width: $width_adaptive) {
                bottom: auto;
                left: auto;
                flex-direction: column;
                height: auto;
                width: 100%;
                padding-top: 50vw;
            }
            @media(max-width:$width_adaptive) {
                // .team,
                // .prof,
                // .unic,
                // .result {
                // }
                .teamImg,
                .profImg,
                .unicImg,
                .resultImg {
                    width: 20px !important;
                }
            }
            .thirdBlockHead {
                // height: 38px;
                position: relative;
                display: flex;
                align-items: center;
                margin: 0;
                margin-bottom: 1vw;
                font-family: Rubick, sans-serif;
                font-size: 24/1920*100vw;
                font-weight: 600;
                color: #fff;
                @media(max-width: $width_adaptive) {
                    font-size: 4vw !important;
                    line-height: 4vw !important;
                }
                span {
                    margin-right: 0.67vw;
                }
            }
            & .team,
            & .prof,
            & .unic,
            & .result {
                margin-right: -0.3vw;
                // margin-top: -14.5vw;
                // padding-top: 3.125vw;
                width: 21vw;
                @media(max-width: $width_adaptive) {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    margin-top: 0 !important;
                    margin-bottom: 59.5vw;
                    margin-left: 8.5vw;
                    height: 39vw !important;
                    width: 100% !important;
                    padding-top: 0;
                }
            }
            // .team {
            //     margin-left: 9vw;
            //     .teamImg {
            //         width: 2.13vw;
            //     }
            // }
            & .curveText {
                position: relative;
                align-items: center;
                margin: 0;
                margin-left: -7vw;
                font-family: Rubick, sans-serif;
                font-size: 0.93vw;
                font-weight: 300;
                color: #fff;
                @media(max-width: $width_adaptive) {
                    // left: 1vw;
                    margin-top: 7.5vw !important;
                    margin-left: 2vw !important;
                    width: max-content;
                    font-size: 3vw !important;
                    line-height: 4vw !important;
                }
            }
            .profImg {
                width: 1.92vw;
            }
            .unicImg {
                width: 1.71vw;
            }
            .resultImg {
                width: 1.71vw;
            }
        }
    }
}